<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="walkway.project.mapper.TrailMapper">


    <select id="findByDistrict" resultType="java.lang.String">
        select coordinate, name, location
        from trail,
        where district = #{district}
    </select>
</mapper>