<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <style>
    table {
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
<h1>목록</h1>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>pass</th>
    <!-- <th>rec_id</th> -->
  </tr>
  <tbody th:each=" Trail : ${list}">
  <tr>
    <td th:text="${Trail.number}"></td>
    <td th:text="${Trail.name}"></td>
    <td th:text="${Trail.location}"></td>
    <!-- <td th:text = "${user.pass}"></td> -->
  </tr>
  </tbody>
</table>

</body>
</html>